*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; 
}

html {
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  scrollbar-color: #111 #2C2C2E;
  scrollbar-width: thin; 
}

body {
  background-color: #121212;
  padding: 0;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  min-width: 320px; 
}

.app-container {
  position: fixed;
  top: 0;
  height: 100%;
  height: 100svh;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

/* === custom classes === */
.d-flex {
  display: flex;
}

.w-100 {
  flex: 0 0 100%;
}

.btn {
  border-radius: 16px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  border: 0;
  user-select: none;
} 

.btn-secondary {
  background-color: #2C2C2E;
}

.btn-secondary:hover {
  background-color: #4a4a4c;
}

.btn-success {
  background-color: #279243;
} 

.btn-success:hover {
  background-color: #026d1e;
} 

.btn-outline-danger {
  border: 1px solid #DA4C66;
  background-color: transparent;
}

.btn-outline-danger:hover {
  background-color: rgba(218, 76, 102, 0.3);
}


/* === header styles === */
.header-container {
  height: 60px;
  background-color: #1C1C1E;
  border-radius: 0 0 16px 16px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.sidebar-toggle {
  width: 48px;
  height: 48px;
  background-color: #2C2C2E;
  border-radius: 10px;
  padding: 8px 8px 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-toggle span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

.sidebar {
  position: absolute;
  display: block;
  z-index: 100;
  width: 300px;
  left: 0;
  top: 0;
  background-color: #010101;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  padding: 55px 15px 50px 15px;
  transition: 0.3s;
  transform: translateX(-150%);
}

.sidebar.visible {
  transform: translateX(0); 
}

.sidebar-hide {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 12px;
  right: 12px;
  border: 0;
  outline: 0;
}

.sidebar-hide svg {
  width: 100%;
  height: 100%;
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.unit-switch {
  width: 180px;
  display: flex;
  background-color: #2C2C2E;
  border-radius: 30px;
  font-size: 13px;
  position: relative;
}

.unit-switch:after {
  content: '';
  position: absolute;
  right: 50%;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #fff;
}

.unit-switch .compass-item,
.unit-switch .direction-item {
  flex: 0 0 50%;
  padding: 8px 8px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unit-switch .compass-item {
  background-color: #fff;
  color: #2C2C2E;
  border-radius:  30px 0 0 30px;
}

.unit-switch .direction-item {
  border-radius: 0 30px 30px 0;
}

.unit-switch.active .compass-item {
  background-color: transparent;
  color: #fff;
}

.unit-switch.active .direction-item {
  background-color: #fff;
  color: #2C2C2E;
}

.clear-history {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  background-color: #3C3C41;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-history svg {
  width: 26px;
  height: 28px;
}


/* === calc result container === */

.result-container {
  flex: 1; 
  overflow-y: scroll;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 10px;
  padding: 0 10px;
}

.result-item {
  border-bottom: 1px solid #4B5054;
  padding: 12px 0;
}

.result-item:last-child {
  border-bottom: 0;
}

.asimut-result,
.angle-result {
  margin-right: 20px;
  font-size: 18px;
}

.asimut-result b,
.angle-result b {
  color: #FF9F0A;
}

.time, time {
  font-size: 14px;
  color: #999;
}

/* === numpad styles ===*/
.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.input-container input {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}

.input-container .wide-radio {
  width: calc(50% - 12px);
  position: relative;
  margin-bottom: 20px;
}

.wide-radio label {
  display: flex;
  align-items: center;
}

.wide-radio .radio-label {
  margin-right: 10px;
  font-size: 16px;
}

.wide-radio .radio-input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3C3C41;
  width: 100%;
  border-radius: 12px;
  border: 1px solid transparent;
  height: 46px;
  font-weight: 700;
}

.wide-radio input:checked ~ label .radio-input {
  border-color: #FF9F0A;
  /*box-shadow: 0 0 0 4px rgba(255, 159, 10, 0.3);*/
  background-color: rgba(255, 159, 10, 0.3);
}

.input-container .default-radio {
  width: calc(25% - 12px);
  position: relative;
}

.default-radio label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3C3C41;
  width: 100%;
  height: 46px;
  border-radius: 12px;
  border: 1px solid transparent;
}

.default-radio .radio-input {
  font-weight: 700;
}

.default-radio .radio-label {
  color: #FF9F0A;
  margin-right: 5px;
}

.input-container .default-radio input:checked ~ label {
  border-color: #FF9F0A;
  /*box-shadow: 0 0 0 4px rgba(255, 159, 10, 0.3);*/
  background-color: rgba(255, 159, 10, 0.3);
}

.input-container.direction-show .default-radio .radio-label {
  display: none;
}

.arrow-label {
  width: 32px;
  height: 27px;
  margin-right: 5px;
  display: none;
  justify-content: center;
  align-items: center;
}

.input-container.direction-show .default-radio .arrow-label {
  display: flex
}

.numpad-container {
  background-color: #1C1C1E;
  border-radius: 20px 20px 0 0;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.numpad-container .btn-secondary,
.numpad-container .btn-outline-danger {
  width: calc(25% - 12px);
  margin-bottom: 14px;
}

@media(min-width: 375px) {
  .asimut-result,
  .angle-result {
    margin-right: 20px;
    font-size: 24px;
  }
}

@media(min-width: 400px) {
  .input-container {
    font-size: 18px;
  }

  .wide-radio .radio-label {
    font-size: 20px;
  }

  .sidebar {
    width: 400px;
  }
}



