*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; 
}

html {
  height: 100%;
  width: 100%;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  scrollbar-color: #111 #2C2C2E;
  scrollbar-width: thin; 
}

body {
  background-color: #010101;
  padding: 0;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  min-width: 320px; 
}

.app-container {
  position: fixed;
  top: 0;
  height: 100%;
  height: 100svh;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
}

/* === custom classes === */
.d-flex {
  display: flex;
}

.w-100 {
  flex: 0 0 100%;
}

.btn {
  border-radius: 12px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  border: 0;
  user-select: none;
} 

.btn-success {
  background-color: transparent;
  border: 1px solid #15BF3F;
  color: #15BF3F;
} 

.btn-outline-danger {
  color: #DA4C66;
}

.text-center {
  text-align: center;
}

/* === header styles === */
.header-container {
  height: 50px;
  background-color: #000;
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  /*padding: 0 10px;*/
  box-shadow: 0 6px 6px 0 rgba(0,0,0, 0.7);
  position: relative;
  z-index: 10;
}

.sidebar-toggle {
  width: 42px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.sidebar-toggle span {
  width: 26px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 7px;
  display: block
}

.sidebar-toggle span:last-child {
  margin-bottom: 0;
}

.sidebar {
  position: absolute;
  display: block;
  z-index: 100;
  width: 300px;
  left: 0;
  top: 0;
  background-color: #010101;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  padding: 55px 15px 50px 15px;
  transition: 0.3s;
  transform: translateX(-150%);
}

.sidebar.visible {
  transform: translateX(0); 
}

.sidebar-hide {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 12px;
  right: 12px;
  border: 0;
  outline: 0;
}

.sidebar-hide svg {
  width: 100%;
  height: 100%;
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.clear-history {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-history svg {
  width: 26px;
  height: 28px;
}

.nav-tabs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.nav-tabs .tab-link {
  flex: 0 0 33.33%;
  color: #fff;
  text-decoration: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-tabs .tab-link.current {
  background-color: #2F2F31;
}

.nav-tabs .nav-link.active {
  background-color: #2F2F31;
}

.tab-pane {
  display: none
}

.tab-pane.current {
  display: block;
}

.tab-pane .flex-column {
  display: flex;
  flex-direction: column;
}


/* === calc result container === */

.result-container {
  overflow-y: scroll;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 10px;
  padding: 0 10px;
  height: calc(100svh - 540px);
}

.result-item {
  margin-top: 5px;
  padding: 10px;
  background-color: #1B1B1C;
  border-radius: 10px;
  color: #d4d4d7;
}

.result-item:last-child {
  border-bottom: 0;
}

.result-value {
  margin-right: 20px;
}

.result-item .remove-item {
  margin-left: auto;
}

.result-item .remove-item svg {
  width: 28px;
  hyphens: 28px;
}

.time, time {
  font-size: 14px;
  color: #999;
}

/* === numpad styles ===*/
.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -20px;
  margin-top: 20px;
  padding: 0 12px;
}

.input-container input {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
}

.input-container .default-radio {
  width: calc(33.33% - 6px);
  position: relative;
  margin-bottom: 25px;
}

.default-radio label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  border-radius: 8px;
  border: 1px solid #3C3C41;
}

.default-radio .radio-input {
  font-weight: 700;
}

.default-radio .radio-label {
  color: #9C9C9E;
  position: absolute;
  left: 5px;
  right: 5px;
  top: -15px;
  text-align: center;
}

.default-radio .radio-label span {
  display: inline-block;
  background-color: #010101;
  padding: 0 8px;
  white-space: nowrap;
}

.input-container .default-radio input:checked ~ label {
  border-color: #FF9F0A;
  box-shadow: 0 0 0 3px rgba(255, 159, 10, 0.4);
}

.input-container .default-radio:last-child {
  margin-right: auto;
  margin-left: 18px;
}

.numpad-container {
  padding: 5px 15px 15px;
  width: 100%;
  max-width: 700px;
  margin: auto auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.numpad-container .btn-secondary,
.numpad-container .btn-outline-danger {
  width: calc(100% - 12px);
  margin-bottom: 14px;
  padding: 0;
  height: 52px;
}

.numpad-container table {
  width: 100%;
  border-collapse: collapse;
}

.numpad-container table tr:last-child td .btn {
  margin-bottom: 0;
}

.numpad-container table td {
  width: 25%;
}

.numpad-container .btn-success {
  height: 120px;
  width: 100%;
  font-size: 48px;
}

@media(min-width: 375px) {
  body {
    font-size: 16px;
  }

  .asimut-result,
  .angle-result {
    margin-right: 20px;
  }

  .input-container .default-radio {
    width: calc(33.33% - 12px);
  }
}

@media(min-width: 420px) {
  .input-container {
    font-size: 18px;
  }

  .wide-radio .radio-label {
    font-size: 20px;
  }

  .sidebar {
    width: 400px;
  }

  .result-item {
    font-size: 18px;
  }
}



